
/* main section */
.main-banner{
  background: url('./image/main-banner.png') no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 55.625rem;
  box-sizing: border-box
}
.main-section__info {
  text-transform: uppercase;
}
.main-section {
  padding: 6.25rem 1.875rem;
  display: flex;
  justify-content: space-between;
}


.main-section__img {
  text-align: right;
}
.main-section__first-line {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 25rem;
  margin-bottom: 20px;
  color: #797979;
}
.main-section__second-line {
  margin-top: 1.25rem;
  line-height: 3.75rem;
  margin-bottom: 1.25rem;
  color: #05364e;
  font-size: 3rem;
}
.main-section__third-line {
  color: #05364e;
  font-size: 5rem;
  font-weight: 12.5rem;
  margin-bottom: 1.25rem;
}

.main-section__social-networks {
  padding: 0.625rem;
  font-size: 1.57rem;
  margin:0.3125rem 1.25rem;
}
/* statistics */
.statistics__item:hover {
 background-color: rgb(77, 20, 222);
 color: white;
 position: relative;
}
.statistics__item {
  background: #f3f3f3;
  text-align: center;
  padding: 3rem 2rem;
  margin-bottom:1.25rem ;
  color: #00bcd4;
  margin-right: 2rem;
  transition: all 0.45s ease 0s;
}
.statistics__items{
  justify-content: center;
  display: flex;
}
.statistics {
  padding-top: 2rem;
}

/* myself */
.myself {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.myself__photo img{
  width: 500px;
  height:400px;
}
.myself__info {
  width: 50%;
}
.myself__title {
  font-size: 32px;
  margin-bottom: 1.875rem;
  line-height: 1.875rem;
  text-transform: capitalize;
}
.myself__description {
  font-size: 1rem;
  color: #888;
  letter-spacing: 1px;
}
/* /\myself */

/* pages section */
.pages-section {
  margin-top: 4rem;

}
.pages-section__cards{
  display: flex;
  
}
.pages-section__card {
  padding: 3.75rem 1rem;
  background: #f8faff;
  text-align: center;
  flex-basis: 30%;
  margin-left: 2rem;
  transition: all 0.9s ease 0s;
  justify-content: space-between;
}
.pages-section__card:hover {
  background-color: #5f30ff;
  position: relative;
  left: 1rem;
  top: 1rem;
}
.card-icon .pages_section__card-description:hover {
  color: white;
}
.pages-section__card:hover .pages_section__card-description,
.pages-section__card:hover .card-icon {
  color: white;
}
.card-icon {
  text-decoration: none;
}
/*pages section */

/* clienst section */
.clients__img img {
  width: 100%;
}
.clients__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients__item >div{
  flex: 1;
}
.comments__owner {
  font-size: 1rem;
  font-weight: 400;
}
.comments__text {
  color: #888;
  overflow-y: scroll;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  letter-spacing: 1px;
}
.stars {
  color: #ffd804;
  font-size: 15px;
  margin-top: 20px;
}
.clients__info {
  margin-top: 7rem;
}
/* /clients section */

/* my portfolio */
.my-port {
  padding: 100px 0;
}

.my-port__nav-items {
  list-style: none;
  padding-left: 0%;
}
.my-port__nav-items li {
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #05364d;
  cursor: pointer;
  padding-left: 0;
  display: inline-block;
}
/* SHOHJAKHON  */

.my-port__items{
position: relative;
}

.my-port__item {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}

.my-port__item img {
  width: 100%;
}

.my-port__overlay {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(19, 69, 230, 0.9);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.my-port__info-sh {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  opacity: 0;
  z-index: 2;
  transition: all .3s;
}

.my-port__item-1{
    padding-left: 0;
}

.my-port__item-2{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0;
}

.my-port__item-3{
    position: absolute;
    right: 0;
    top: 323px;
    padding-right: 0;
}

.my-port__item:hover .my-port__info-sh{
    opacity: 1;
}

.my-port__item:hover .my-port__overlay{
    opacity: 1;
}


/* SHOHJAKHON  */
/* friends section */
.friends{
  padding-top: 6.25rem;
}
.friends__items:hover{
  box-shadow: 0px 10px 20px rgb(5 54 77/10%);
}
.friends__item:hover .friends-item__info{
  background-color: white;
}
.friends__item:hover .imagee img{
  transform: scale(1.1);
}
.friends__items{
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.friends__item{
  margin-left: 3%;
  box-sizing: border-box;
  overflow: hidden;
}
.friends__items img{
  width: 100%;
  
}
.imagee img{
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  transition: all 0.4s ease-in;
}
.friends-item__info{
  background: #f8faff;
  padding: 1.875rem;
  color: #797979;
}
.friends-item-main__info span{
  margin-right: 1.875rem;
  font-size: 0.99rem;
  font-weight: lighter;
}
.friends-item-main__info i{
  margin-right:  5px;
}
.friends-item__title{
  font-family: "Roboto",sans-serif;
    color: #05364d;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1 rem;
}
.friends-item__learnmore a{ 
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.friends-item__learnmore a:hover {
  color: #ed239f99;
}
.friends-item__description{
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* partners section */
.partners{
  position: relative;
}
.partner > div{
  flex: 1;
}
.partner{
  padding-top: 6.25rem;
  display: flex;
}
@media only screen and (max-width:991px){
  .box{
    width: 90%;
  }
  /* main section */
  .main-section__img{
    display: none; 
  }
  .main-section>div {
    width: 100%;
  }
   /* statistics */
   .statistics{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
   }
      /* about me section */
    .myself__photo{
      display: none;
    }
    .myself >div{
     flex-basis: 100%;
    }
    .myself{
      padding: 1.5rem 0;
    }
    /* services */
    .pages-section{
      padding: 1.5rem 0;  
      margin-top: 1rem;  
    }  
    .pages-section__cards{ 
      flex-wrap: wrap;
      display: flex; 
    }
    .pages-section__card{
      margin-bottom: 20px;
      
    }
    /* clients */
    .clients > div{
      width: 100%;
      float: none;
     
    }
    .clients__comments {
      margin-top: 0;
    }
    .clients{
      padding: 1.5rem 0;
  }
  .clients__item{
    flex-direction: column;
  }
  /* friends section */
  .friends{
    padding: 1.5 rem 0;
    
  }
  .friends__items{
    flex-wrap: wrap;
    display: flex;
  }
  .friends__item{
    flex-basis: 45%;
    margin-bottom: 20px;
   
  }
  .order-1 img{
    order: 9;
  }
  .order-2 img{
    order: 2;
  }
  /* partners */
  .partner__image{
    padding: 1.5rem 0;
    text-align: center;
   
  }
  .partners{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
  }
  .partner{
    padding: 0%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:767px){
  /* main banner */
   .main-section__second-line{
    margin-top: 20px;
    margin-bottom: 20px;
   }
   .main-section img{
    display: none;
   }
   .main-banner{
    background: none;
    min-height: auto;
   }
/* statistics */
.statistics__items{
  flex-basis: 100%;
  margin-bottom: 20px;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
}

.button{
  display: none;
}
/* services */

  .pages-section{
    padding: 1.5rem 0;
   
  }
  .pages-section__card{
    flex-basis: 100%;
  }
  /* portfolio */
  .my-port__item-2,
  .my-port__item-3{
    position: static;
  }
  .my-port__item {
    width: 100%;
  }
  .my-port{
    padding: 1.5rem 0;
  }

  /* blogs */
  .friends__item{
    flex-basis: 100%;
    margin-left:0;
  }
  .partners{
    display: block;
    flex-wrap: wrap;
    flex-basis: 20%;
  }
  .partner{
    display: block;
  }
}
